// Configuration for the NGS pipeline.

params {
    // path to the gzipped FASTQ read files
    pair1 = "$HOME/Projects/nextflow-test/reads/*_R1.fastq.gz"
    pair2 = "$HOME/Projects/nextflow-test/reads/*_R2.fastq.gz"
    // path to the genome FASTA file to use for mapping against
    genome = "$HOME/Data/Resource/hg19/human_g1k_v37.fasta"
    // path to the DBSNP file to use for variant calling
    db_snp = "$HOME/Data/Resource/dbsnp/human/dbSNP138.vcf"
    // id for the run / wetlab id
    run_id = "1234"
    // target output directory
    target_dir = "$HOME/Projects/nextflow-test/results"

    // path to the temporary directory
    tmpdir = "/tmp"

    // configure expected resource usage
    cpus {
      mapping = 8
      mrging = 8
      variant_calling = 8
    }
}
